@import url('https://fonts.googleapis.com/css?family=Roboto: 100, 200, 300, 400, 500, 600, 700, 800, 900');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    user-select: none;
}

:root
{
    --text-shadow: 0 2px 5px rgba(0,  0,  0,  .3);
    --box-shadow: 0 2px 5px rgba(0,  0,  0,  .3);
}

body
{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

button
{
    background-color: transparent;
    cursor: pointer;
}