---
import Section from './Section.astro'
import ColorCard from './ColorCard.astro'
---

<Section className="color-card-area" id="color_card_area">
    <div class="color-card-area-container" id="color_card_area_container">
        
    </div>
</Section>


<style>
    .color-card-area-container
    {
        display: flex;
        justify-content: center;
        padding-top: 100px;
        gap: 50px;
        height: 100vh;
        width: 100%;
    }
</style>

<script>
    const colorCardAreaContainer = document.querySelector('#color_card_area_container') as HTMLElement

    window.addEventListener('load', updateCardAreaBackgroundColor)


    // Generate Random Card Area Background Color
    function generateRandomCardAreaBackgroundColor()
    {
        const randomColors = ['ffffff', '191970', '111111', 'fefea3', 'dafe23']
        const generatedColor = randomColors[Math.floor(Math.random() * randomColors.length)]
        return generatedColor
    }

    // Update Card Area Background Color
    function updateCardAreaBackgroundColor()
    {
        colorCardAreaContainer.style.backgroundColor = `#${generateRandomCardAreaBackgroundColor()}` 
    }
</script>