---

---

<div class="color-card" id="color_card">

</div>

<style>
    .color-card
    {
        height: 200px;
        width: 200px;
        background-color: #090909;
        border-radius: calc(var(--base-border-radius));
        box-shadow: var(--box-shadow);
    }
</style>