---
const difficulties = ['easy', 'hard']

const buttons = difficulties.map((difficulty, index) => ({
   difficulty: difficulties[index]
}))
---

<div class="container difficulty-buttons-container">
    {
        buttons.map((button) => {
            return (
                <button class={`difficulty-btn ${button.difficulty}-difficulty-btn`} id={`${button.difficulty}_difficulty_btn`}>
                    {button.difficulty.toUpperCase()}
                </button>
            );
        })
    }
</div>

<style>
    .difficulty-buttons-container {
        display: flex;
        gap: 40px;
    }

    .difficulty-buttons-container .difficulty-btn
    {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        padding: 5px;
        border-radius: calc(var(--base-border-radius) / 2);
        transition: box-shadow .2s ease-in, background .2s ease-in, color .2s ease-in;
    }

    .difficulty-buttons-container .difficulty-btn:hover
    {
        background-color: #4545af;
        color: #fff;
        box-shadow: var(--box-shadow);
        transition: box-shadow .2s ease-in, background .2s ease-in, color .2s ease-in;
    }

    .difficulty-buttons-container .difficulty-btn:active
    {
        transform: scale(.98);
        box-shadow: none;
        transition: none;
    }

    .active
    {
        color: #fff;
        background-color: #191970;
    }

    .difficulty-buttons-container .difficulty-btn.active:hover
    {
        pointer-events: none;
    }
</style>

<script>
    const difficultyButtonsContainer = document.querySelector('.difficulty-buttons-container')
    const difficultyButtons = document.querySelectorAll('.difficulty-btn')
    
    difficultyButtonsContainer.addEventListener('click', (e) => selectDifficulty(e))

    // FUNCTIONS //

    // Select Difficulty
    function selectDifficulty(e: any)
    {
        if(e.target.matches('.difficulty-btn'))
        {
            difficultyButtons.forEach((difficultyButton) => difficultyButton.classList.remove('active'))
            e.target.classList.add('active')
        }
    }

</script>