---
const { className, id } = Astro.props;
---

<section class={className} id={id}>
    <div class="container section-container">
        <slot />
    </div>
</section>


<style>
    .container.section-container
    {
        text-align: center;
    }
</style>