---
import Section from './Section.astro'
---

<Section className="title" id="title">
    <h1>The Great</h1>
    <h2>
        RGB (<span class="red-value" id="red_value">86</span>, <span class="green-value" id="green_value">125</span>, <span class="blue-value" id="blue_value">246</span>)
    </h2>
    <h3>Color Picking Game</h3>
</Section>


<style>

</style>